@CHARSET "UTF-8";

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#loginForm {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    width: 320px;
    height: 135px;
    padding: 2px;
}

#loginForm form {
    padding: 10px 0;
}

#loginForm form div.element {
    padding: 5px;
}

#loginForm form legend {
    display: none;
}

#loginForm form label {
    display: inline-block;
    width: 90px;
}

#loginForm form input {
    width: 210px;
}
