<?php

return [
    'Admin' => [
        'type' => 'subdir',
        'path' => 'wh-admin',
        'translator' => [
            'locale' => 'en_US',
        ],
        'wh_themes' => [
            'current_theme' => 'default',
        ],
    ],
    'Website' => [
        'type' => 'subdomain',
        'path' => 'www',
        'translator' => [
            'locale' => 'en_US',
        ],
        'wh_themes' => [
            'current_theme' => 'default',
        ],
    ],
];
